/* {{Wikipedia:USync|repo=https://github.com/DatGuy1/spihelper|ref=refs/heads/build/develop|path=spihelper.css}} */
/* v3.2.0 */
/* src/spihelper.css */
.spihelper-hovertext {
  text-decoration: underline dotted;
  text-underline-offset: 1px;
  cursor: var(--cursor-help, help);
}

.spiHelper-setting {
  padding: 12px;
}

.cdx-toggle-switch.enableSwitch {
  align-self: baseline;
}

.spiHelper-mainCard {
  background-color: var(--background-color-base, #fff);
  border: 1px solid var(--border-color-base, #a2a9b1);
  border-radius: 2px;
  padding: 12px;
}

#spiHelper-topView-Action {
  display: flex;
  flex-direction: column;
  align-items:  flex-start;
}

#spiHelper-vue-mount-point.unpinned {
  position: sticky;
  z-index: 5;
  top: 60px;
}

#spiHelper-vue-mount-point.unpinned .spiHelper-mainCard {
  position: absolute;
  overflow-y: auto;
  width: 97.35%;
  max-height: 40vh;
}

.spiHelper-mainCard-Header {
  position: relative;
}

.spiHelper-mainCard-Header .header-buttons {
  position: absolute;
  top: 0;
  right: 0;
}

#spiHelper-topView-Accordion .cdx-accordion {
  overflow: visible;
}

#spiHelper-topView-Accordion .cdx-accordion.action-enabled > summary {
  background-color: var(--background-color-progressive-subtle, #e8eeff);
}

#spiHelper-topView-Accordion .cdx-toggle-switch.enableSwitch:not(:only-child) {
  margin-bottom: .75em;
}

#buttonRow {
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;
  max-width: calc(100% - 102px);
  padding-bottom: 2px;
}

#buttonRow > button {
  flex-shrink: 0;
}

#messageRow {
  width: 100%;
}

#messageRow:has( > *) {
  padding-top: 20px;
}

#contentRow {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin-top: 1em;
}

#contentRow > div {
  display: flex;
  flex-direction: column;
  gap: .75em;
}

.spiHelper-section-selector {
  display: flex;
  gap: 8px;
  max-width: 560px;
}

.spiHelper-section-overlay {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  border-radius: 4px;
  left: -12px;
  right: -12px;
}

.spiHelper-section-overlay--selected {
  border: 3px solid var(--border-color-progressive, #36c);
  background-color: var(--background-color-progressive-subtle, #e8f1ff);
}

.spiHelper-section-overlay--preview {
  border: 1px dashed var(--border-color-progressive, #36c);
  background-color: var(--background-color-progressive-subtle, #f3f7ff);
}

#contentRow > div.is-visible ~ div.is-visible {
  border-top: 1px solid var(--color-base--subtle);
  padding-top: 16px;
}

#contentRow > div:not(.is-visible) {
  display: none;
}

.spiHelper-blockoptions-group {
  margin-bottom: 12px;
}

#spiHelper-opts-dialog .cdx-dialog__header {
  display: flex;
  box-sizing: border-box;
  justify-content: flex-end;
  align-items: baseline;
  width: 100%;
}

.spiHelper-submitForm {
  margin-top: 12px;
}

.spiHelper-submitForm .cdx-text-input {
  max-width: 80px;
}

.spiHelper-submitForm .cdx-button:not(:only-child) {
  margin-top: 12px;
}

.spiHelper-sockTable .setAllRow > th {
  vertical-align: middle;
  border-bottom-color: var(--color-emphasized, #101418) !important;
}

.spiHelper-sockTable thead tr:first-child th {
  vertical-align: bottom;
}

.spiHelper-sockTable tbody td {
  vertical-align: middle;
}

.spiHelper-sockTable .header-content {
  display: flex;
  flex-wrap: wrap;
  align-items:  center;
  gap: 8px;
}

.spiHelper-sockTable .header-content .header-content-buttons {
  display: flex;
  gap: 8px;
}

.spiHelper-sockTable .header-content .header-content-buttons .cdx-message {
  align-items:  center;
}

.spiHelper-sockTable .header-content .header-content-buttons .cdx-message .cdx-message__content {
  margin-left: 4px;
}

.spiHelper-sockTable th.tagHeader {
  width: 200px;
}

.spiHelper-sockTable th.checkboxHeader {
  padding: 12px 8px;
}

.spiHelper-sockTable .cdx-select-vue {
  width: 100%;
}

.spiHelper-sockTable .cdx-select-vue__handle {
  word-break: keep-all;
  min-width: 110px;
}

.spiHelper-sockTable div.tagOptions {
  min-width: 130px;
}

.spiHelper-sockTable thead tr.blockSettingsRow th {
  white-space: nowrap;
  padding: 6px 4px;
  font-size: .75rem;
}

.spiHelper-sockTable .cdx-checkbox {
  width: min-content;
  margin: 0 auto;
  left: 1px;
}

.spiHelper-sockTable td:has(.cdx-checkbox) {
  width: 55px;
  padding: 4px;
}

.spiHelper-sockTable .setAllRow th:has(.cdx-checkbox) {
  width: 55px;
  padding: 4px;
}

.spiHelper-sockTable .cdx-text-input {
  min-width: 50px;
}

.spiHelper-sockTable .cdx-field__help-text {
  display: none;
}

.spiHelper-sockTable .user-lookup {
  min-width: 150px;
}

.spiHelper-sockTable th.selectTagOptions button {
  justify-content: flex-start;
  width: 200px;
  padding: 0 5px;
}

.spiHelper-sockTable .spihelper-expiry-input {
  min-width: 90px;
}

.spiHelper-sockTable button.userTag {
  justify-content: flex-start;
  width: 200px;
  padding: 0 5px;
  font-weight: normal;
}

button.userTag + button.userTag {
  margin-top: 4px;
}

.spiHelper-sockTable.linkTable thead {
  text-wrap: nowrap;
}

#spiHelper-PreviewBox {
  min-height: 26px;
}

#spiHelper-PreviewBox .cdx-button {
  position: absolute;
  top: 8px;
  right: 8px;
}

#spiHelper-PreviewBox #htmlPreview {
  word-wrap: break-word;
  box-sizing: border-box;
  width: 100%;
  padding-right: 40px;
}

#spiHelper-CaseLoader {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#spiHelper-CaseLoader .cdx-text-input {
  max-width: 200px;
}

div.edit-tag-popover {
  min-width: 310px;
}

div.edit-tag-popover .tag-category {
  display: flex;
  width: auto;
  margin-bottom: 16px;
}

div.edit-tag-popover .tag-category > button {
  flex: 1;
}

div.edit-tag-popover .edit-body {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

div.edit-tag-popover .edit-body > .cdx-toggle-button-group {
  display: flex;
  width: auto;
}

div.edit-tag-popover .edit-body > .cdx-toggle-button-group > button {
  flex: 1;
}

div.edit-tag-popover footer {
  display: flex;
  justify-content: space-between;
}

div.edit-tag-popover footer .cdx-popover__footer__actions {
  gap: 0;
}
